<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Community</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Community Page</h1>
    
    <p>You're logged in!!!</p>
    
    <a href="/users/<%= user._id %>/foods/new">Add New Item</a>

            <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit"><%= food.name %></a>
             <form
              action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE"
              method="POST">
              <button type="submit">Delete this item</button>

    </ul>
 
  </body>
</html>